.button{
    padding: 7px 10px;
    border:none;
    outline:none;
    background-color: #00b368;
    color:#fff;
    cursor: pointer;
    font-size: 17px;
    margin:5px 0;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.outline{
    border:1px solid #00b368;
    background-color: #fff;
    color: #00b368
}

.outline:hover{
    background-color: #00b368;
    color: #fff
}