.home{
    display: flex;
    min-height: 100vh
}

.home-left{
    width: 20%;
    box-shadow: 1px 0 3px rgb(228, 228, 228);
    padding: 50px 10px 10px 10px;
}

.home-right{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px 20px 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-item{
    width: 200px;
    min-height: 250px;
}

.create-card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-title{
    font-size: 18px;
    font-weight: 600;
    color: #414141
}