.input{
    outline: none;
    border:1px solid rgb(160, 160, 160);
    padding:7px 10px;
    font-size: 17px;
    color:#414141;
    border-radius: 5px;
}

.label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-weight: 500;
    color: #494949;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(223, 223, 223);
    border:1px solid #8b8b8b;
    border-radius: 5px;
  }

  .label input:checked ~ .checkmark {
    background-color: #266e70;
    border:1px solid transparent
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .label input:checked ~ .checkmark:after {
    display: block;
  }

  .label .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }