.auth{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.auth-title{
    font-size: 17px;
    font-weight: 600;
    margin:5px 0;
    color:#414141
}

.auth-form-container{
    display: flex;
    flex-direction: column;
}

.error-text{
    color:rgb(255, 74, 74);
    font-weight: 600;
}