*{
    margin:0;
    box-sizing: border-box;
}

.mb-1{
    margin-bottom: 10px;
}

.ml-1{
    margin-left: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mb-2{
    margin-bottom: 20px;
}

.m-1{
    margin:10px
}

.mt-3{
    margin-top: 30px;
}

.mt-1{
    margin-top: 10px;
}

.full-width{
    width: 100%;
}